/* bg color : #0f171e */

body{
    background-color: #0f171e;
    color: #fff;
}

.prime-bar{
    background-color: #232f3e;
}

.strive-logo{
    height: 3rem;
}
.search-form, .search-form:focus{
    background-color: #232f3e;
    color: #fff;
}

.nav-link:hover{
    border-bottom: .5px solid white;
}

.carousel-indicators > button{
  width: 10px  !important; 
  height: 10px  !important;
  border-radius: 50%;
}

nav .dropdown-menu{
    background-color: #232f3e;
    color: white;
}

.dropdown-item{
    color: #fff;
}
.avatar{
    height: 2rem;
}

nav .btn:focus{
    box-shadow: none;
}
#cards .row{
}

#cards .row h6::before{
    content: 'Store ';
    color: goldenrod;
}
.badge{
    top: 2.7rem;
    left: .72rem;
}

/* #cards img:hover{
    transform: scale(1.2);
    transition: all .5s;
    cursor: pointer;
} */

.movie-card{
    position: relative;
    transition: transform .3s linear;
}
.movie-card:hover{
    cursor: pointer;
    transform: scale(1.2);

}
.movie-card-body{
    opacity: 0;
    position: absolute;
    top: 90%;
    background-color: #0f171e;
    transition: all 0.3s linear;
}

.movie-card:hover .movie-card-body{
    top: 100%;
    opacity: 1;
    transition: opacity 0.3s linear;
}
.icons ion-icon{
    font-size: 1.2rem;
}

.logo-splash{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.5);
    animation: blur-in 2s linear forwards;
}
.splash-screen-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 42, 63, 0.85);
    
}

#splashscreen{
    position: absolute;
    z-index: 10;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: fade-in 4s cubic-bezier(0.61, 0.01, 0.48, .99) 2s reverse forwards;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes blur-in {
    0%{
        filter: blur(100px);
    }
    100%{
        filter:blur(0);
    }
}